<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/6b14253aba.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/{{style}}" />
  </head>
  <body>
    {{! <audio id="bgm" src="/audios/first.mp3" autoplay loop></audio> }}
    {{{body}}}
    <script src="/javascripts/{{script}}"></script>
    {{! <script>
      const audio = document.getElementById("bgm"); audio.volume = 0.1;
    </script> }}
  </body>
</html>