<div id="outside">
  <main id="container" class="container">
    <div class="left">
      <div class="blood">
        <div class="out">
          <h3 class="name">{{name}}</h3>
          <div class="shieldbar">
            <i class="fa-solid fa-shield"></i>
            <h4 class="shield">
            </h4></div>
          <div id="myHpbar" class="hpbar" style="background-color:red;">
            <i class="fa-solid fa-heart"></i><h4 class="hp"></h4></div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="bloodRight">
        <div class="outRight">
          <h3 class="nameright">壞狗狗軍團</h3>
          <div class="shieldbarright">
            <i class="fa-solid fa-shield"></i>
            <h4 class="shieldright">
            </h4>
          </div>
          <div id="enemyHpbar" class="hpbarright">
            <i class="fa-solid fa-heart"></i><h4 class="hpright"> </h4>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="bottom">
    <div class="round">ROUND 1</div>
    <div class="log">
      <div class="info"></div>
    </div>
  </div>
</div>