<div class="navbar">
  <div class="profile"><div class="name">{{name}}</div></div>
  <div class="ticket">{{ticket}} <i class="fa-solid fa-ticket"></i></div>
  <div class="money">{{money}} <i class="fa-solid fa-dollar-sign"></i></div>
</div>
<h1>Cat Tower</h1>
<main>
  <div><a href="/main/goFight" class="fight">FIGHT</a></div>
  <div><a href="/market" class="func">商城</a></div>
  <div><a href="/skill" class="func">技能</a></div>
  <div><a href="" class="func">故事</a></div>
  <div><a href="" class="func">圖鑑</a></div>
</main>